[2017-04-07 09:13] miq-bot opened #2 "Middleware: Add Datasource - several issues"
There are several issues while adding new Datasource on EAP7 server via MiQ.

1. In "Specify Driver" step of adding "Postgres" Datasource, there is a typo in Name field's default value: "postresql". This causes not recognizing driver.
2. While creating Postgres Datasource and choosing already created JDBC Driver, it fails to create, as it uses default name "PostgresDS" no matter what name you type

[2017-04-07 15:37] mtho11 commented on #2
Issue 1 should already be fixed 2 weeks ago by: https://github.com/ManageIQ/manageiq-ui-classic/pull/807

Issue 2 is currently under development via: https://bugzilla.redhat.com/show_bug.cgi?id=1427141

[2017-04-09 10:55] abonas commented on #2
@mtho11 is the second issue fixed by https://github.com/ManageIQ/manageiq-ui-classic/pull/941?
if yes, then this GH issue should be moved to the classic ui repo as there's no affected code in this repo

[2017-04-09 15:49] miq-bot opened #4 "Restart operation on already stopped EAP7 standalone server does not display failure message to the user"
At present, when user executes Restart operation on already stopped EAP standalone server, it shows the message - 'Restart initiated for selected server(s)'. Nothing happens to EAP standalone server and it remains in stopped state.

The UI should show some useful message to the user if it is expected that restart operation not to start already stopped EAP server.

---

*This issue was moved to thi

[2017-04-09 15:50] abonas commented on #4
@pilhuhn do you know if is there a functionality for this in hawkular already?

[2017-04-09 16:46] miq-bot opened #5 "Adding status indication to entities on middleware topology"
This is a placeholder to discuss what is the relevant field/work needed for each entity to have the status color indication to be displayed for each entity on the middleware topology.

@miq-bot add_label enhancement, providers/hawkular

Currently this is needed for:
- provider -  (the relevant check/method is the authentication status)
- middleware_server
- middleware_deployment
- middleware_datas

[2017-04-12 01:08] mtho11 commented on #2
@abonas yes, you are correct,  the second issue is fixed by: https://github.com/ManageIQ/manageiq-ui-classic/pull/941 and already covered by the previously mentioned BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1427141. I don't think it is necessary to duplicate BZs with github issues.

[2017-04-12 10:35] durandom opened #8 "move provider specific settings"
see the [amazon settings](https://github.com/ManageIQ/manageiq-providers-amazon/blob/master/config/settings.yml) for what can be moved

[2017-04-12 15:22] abonas commented on #8
@miq-bot assign @cfcosta

[2017-04-13 13:44] abonas commented on #2
the duplication was already there initially, this is not a newly opened issue, I am just moving the issue to be on the correct repo on github

[2017-04-21 15:32] durandom opened #13 "move hawkular specific event names"
similar to moving the settings we can also move event names (see [amazon](https://github.com/ManageIQ/manageiq-providers-amazon/pull/163/files) for an example)

[2017-04-23 13:38] abonas commented on #13
looks like we're talking about moving stuff starting [this part](https://github.com/ManageIQ/manageiq/blob/master/config/settings.yml#L226)
till around line 239 iiic
is this right @durandom ?

[2017-04-23 14:37] abonas commented on #13
@miq-bot assign @cfcosta

[2017-05-26 16:58] israel-hdez commented on #5
Right now, status is only resolved for servers and deployments.
I may work this in stages:
* Show status for servers and deployments in topology.
* Change event_catcher to be able to "catch" up/down events in the metrics. Although, I don't know if it may be better to add a metrics worker for this.
  * This would allow MiQ to update its data to better reflect the status of the entities.
* Do whatev

[2017-05-26 17:11] israel-hdez commented on #5
That bot is talking with itself... :repeat:

[2017-05-28 09:16] abonas commented on #5
@israel-hdez  I think it's worth to add this for servers at this point. And then we'll see :)

[2017-05-29 15:06] israel-hdez commented on #5
Ok, I'm working on it.

[2017-05-31 11:19] #13 closed

[2017-05-31 19:53] israel-hdez commented on #5
Hmm... Looks like the better way to deal with the second task is to add a `MetricsCollectorWorker` and leave untouched the `EventCatcher`.

Although I am unsure about the name, because it won't collect metrics but, instead, just watch specific metrics related to the status change of server/deployments and update MiQ inventory data accordingly. Perhaps, should it be `InventoryMonitorWorker`?

For n

[2017-06-07 18:55] israel-hdez commented on #5
Regarding the second step about adding a worker to monitor statuses, I read a little more about how is implemented an `EventCatcher`. Looks like the standard pattern is to enqueue catched events to be further processed in [EmsEvent here](https://github.com/ManageIQ/manageiq/blob/master/app/models/ems_event.rb#L72), but the use case needed in this issue will be off that pattern supporting my idea t

[2017-06-08 10:49] abonas commented on #5
please check with miq core team

[2017-08-21 22:48] cfcosta commented on #8
This is merged already, can it be closed?

[2017-08-21 22:58] #8 closed

[2017-08-24 08:54] hhovsepy opened #33 "Add JDBC Driver Form - Broken Fields"
In the form of adding new JDBC Driver to EAP7 server, there are fields which have empty values.

1. Database Template - which is empty, but should contain templates selecting which will fill form fields  with default values.
2. JDBC Compliant - is in unselected middle state, shown is screenshot, is it by purpose?

![screenshot from 2017-08-24 10 43 16](https://user-images.githubusercontent.com/604

[2017-08-24 11:07] abonas commented on #33
@mtho11 please have a look - you have dealt with some fixes in this area not so long ago, right?

[2017-08-24 13:48] mtho11 commented on #33
Perhaps the first issue is due to https://github.com/ManageIQ/manageiq-ui-classic/pull/1435 which was merged recently? They both use `middleware_datasource_service.js`.
The second issue is strange because there is no middle state, it's a toggle for either on/off.

[2017-08-24 13:49] mtho11 commented on #33
@hhovsepy What browser is this? Does it look this way in other browsers?
I assume it has never appeared this way before?

[2017-08-24 14:04] hhovsepy commented on #33
@mtho11 It happens on both:
FF 54.0.1
Chrome 55.0.2883.87

it never happened before, and on other pages it is fine

[2017-08-28 06:30] hhovsepy opened #35 "Cross Link to VM - Not Shown"
In Details page of EAP7 Standalone/Domain mode servers, cross link to VMs are not shown.

1. Add new Infrastructure Provider of type RHEVM. Enter "admin@internal" user's credentials.
Make sure that VMs have got IP Address and Hostnames.
2. On a VM install EAP7 in Standalone or in Domain mode, configure hawkular agent to Hawkular Services.
3. Add Hawkular Services as Middleware Provider.
4. Go to M

[2017-08-28 08:47] hhovsepy commented on #35
tested on version master.20170828012921_

[2017-08-28 09:19] hhovsepy commented on #35
evm.log
[vm_evm.zip](https://github.com/ManageIQ/manageiq-providers-hawkular/files/1255987/vm_evm.zip)

[2017-08-28 10:50] abonas commented on #35
the log is huge, so without focusing on specific timeframe it's very difficult to find there something.
lets try something else instead first:
please go to miq db, and do a select on table vms (where name is the name of the vm you expect to link with)
also, please select the row that represents the eap server from middleware_servers table

[2017-08-28 11:46] hhovsepy commented on #35
attaching vms and middleeware_servers tables all columns for EAP7 standalone mode server:

[db_vms.txt](https://github.com/ManageIQ/manageiq-providers-hawkular/files/1256652/db_vms.txt)
[db_servers.txt](https://github.com/ManageIQ/manageiq-providers-hawkular/files/1256653/db_servers.txt)

[2017-08-28 12:14] abonas commented on #35
@israel-hdez can you please have a look.
I think you familiar with this area, but just in case, the relevant code is [here](https://github.com/ManageIQ/manageiq-providers-hawkular/blob/master/app/models/manageiq/providers/hawkular/inventory/parser/middleware_manager.rb#L47)

[2017-08-28 14:59] israel-hdez commented on #35
@abonas I'm looking into it. I guess I'll need oVirt.

[2017-08-28 15:13] abonas commented on #35
@israel-hdez perhaps @hhovsepy can let u use his env?

[2017-08-28 15:23] skondkar opened #36 "Middleware Manager-Add new JDBC Driver does nothing"
Nothing happens on trying to add JDBC driver to the EAP7 standalone server. After clicking 'Deploy' and waiting for a long time, it does not complete and the 'add jdbc driver' wizard remains open. There is no success message. There are no errors in EAP logs.

Steps to reproduce:
-Login to latest ManageIQ
-Navigate to Standalone EAP7 server
-Click on 'JDBC Drivers' link on EAP7 server summary view

[2017-08-28 15:32] skondkar commented on #36
[miqlogfiles.zip](https://github.com/ManageIQ/manageiq-providers-hawkular/files/1257310/miqlogfiles.zip)

Attaching evm.log and production.log files for reference.

[2017-08-30 16:52] mtho11 commented on #36
@skondkar looking into this...

[2017-08-30 16:54] mtho11 commented on #33
Fixed via: https://github.com/ManageIQ/manageiq-ui-classic/pull/2030

[2017-08-30 16:54] #33 closed

[2017-08-30 16:58] hhovsepy commented on #33
Verified on master.20170830012940_, thank you for fixing this.

[2017-08-31 23:27] mtho11 commented on #36
Hmm, I can't reproduce this. I'm able to deploy jdbc drivers no problem.

**MiQ Version:**
<img width="361" alt="miq-version" src="https://user-images.githubusercontent.com/1312165/29948969-8dc358f0-8e66-11e7-95d3-440750e73068.png">

**Loads without error:**
<img width="886" alt="jdbc-driver-screen" src="https://user-images.githubusercontent.com/1312165/29949252-4aa7f984-8e68-11e7-8a04-42cd81840ae

[2017-09-01 14:37] skondkar commented on #36
@mtho11 Thanks..
Tested and verified that this issue does not exist in latest MIQ Version master.20170901051107_
Added postgres and MySQL jdbc drivers successfully.

[2017-09-01 15:17] mtho11 commented on #2
This was fixed quite a while ago.

[2017-09-01 15:17] #2 closed

[2017-09-01 15:18] skondkar commented on #36
Closing the issue as it doe not exist in latest MIQ

[2017-09-01 15:18] #36 closed

[2017-09-08 08:17] abonas opened #42 "hawkinit screenshot has a typo and is not used in the guide"
[this file](https://github.com/ManageIQ/manageiq-providers-hawkular/blob/master/screenshots/hawkinit.png) should be replaced with one without a typo, or removed at all as it seems it's not used anywhere in the guide?

[2017-09-08 16:35] cfcosta commented on #42
I'm actually using the latest version available on npm (as of yesterday), is there any released version without the typo?

/cc @josejulio @israel-hdez

[2017-09-08 16:40] josejulio commented on #42
Are you installing hawkular/hawkinit or hawkinit? `hawkinit` is deprecated see:
https://www.npmjs.com/package/@hawkular/hawkinit#troubleshooting

This is what i get when running hawkinit

![screenshot from 2017-09-08 11-39-42](https://user-images.githubusercontent.com/3845764/30221858-7232f634-948a-11e7-8856-72ebca321d8d.png)

[2017-09-08 18:03] cfcosta commented on #42
Weird, I was using `@hawkular/hawkinit`. I'll update to use your screenshot then.

[2017-09-11 08:35] hhovsepy opened #44 "Add "Domain State" field in Domain Properties"
Enhancement.

When Domain is Stopped, there is not a property which shows that Domain Controller is stopped.

Requesting to add new "Domain State" field in Domain's Summary page's Properties section.

@miq-bot add_label enhancement, providers/hawkular

[2017-09-11 08:57] hhovsepy opened #45 "Server's "Server State" remains "Stopping", after Domain Shutdown."
"Server-One" server's "Server State" property remains "Stopping", after Domain Shutdown.

Prerequisite: EAP7 is started in Domain mode and agent configured to Hawkular Services.

1. Load Domain's Details page.
2. Execute "Shutdown Domain" Power operation.
3. Refresh Provider's relationships. Wait for some time.
4. Load "server-one" servers Details page.
5. "Server State" property has value "Stoppi

[2017-09-11 09:11] hhovsepy opened #46 "[RFE] Stopped Domain - Server/Server Group Power operations do not fail with notification"
When executing any Power operation on "Server" or 'Server Group" of Stopped EAP7 Domain, UI shows successful green notification that operation is scheduled successfully.
But no Power operation can be executed, as Domain Controller is Stopped, and in fact it is not executed.

Fix:
Show failure notification message that "Domain is Stopped" and no Power operation could be executed on Domain's Server

[2017-09-11 09:13] hhovsepy commented on #46
Version master.20170911012949_

[2017-09-11 11:39] abonas commented on #46
@josejulio please have a look.
@miq-bot add_label bug

[2017-09-12 11:26] abonas commented on #44
cc @xeviknal

[2017-09-14 21:23] israel-hdez opened #50 "JDR cannot be generated for MW Manager"
JDR can be generated for MW servers. In the MW manager summary page, the "Generate JDR" button is available. However, when the button is pressed, MiQ rejects the operation.

[2017-09-14 21:23] israel-hdez commented on #50
@miq-bot assign @israel-hdez

[2017-09-19 10:47] hhovsepy opened #51 "Hawkular - Shown as mutable"
In Hawkular Provider's summary page, the provider itself is not shown as immutable, the toolbar buttons (Power, Deployments, Driver, Datasources) are available, even though they fail to execute.
But these buttons should be hidden, as Hawkular provider is immutable.

Hawkular Agent is configured on Hawkular Server to be Immutable.

Please note that there is a issue with "Generate JDR" button, which

[2017-09-19 10:58] hhovsepy opened #52 "JDR Report generation fails for Containerized EAP server"
Generating JDR Reports fails for EAP servers which are started in Docker Container.
In Summary Page, button is available, but all executions on the end failed with Error.

Warn is logged on container side:
10:49:54,850 WARN  [org.hawkular.agent.monitor.cmd.GenericErrorResponseCommand] (OkHttp http://last-hawkular-services.bc.jonqe.lab.eng.bos.redhat.com:8080/...) HAWKMONITOR010043: Received the fo

[2017-09-19 11:52] abonas commented on #52
@israel-hdez the JDR should be either greyed out or not displayed at all for containerized, similar to power operations.
@hhovsepy good catch :+1:

[2017-09-19 12:35] abonas commented on #51
@cfcosta afaik it was fixed a while ago? is this a regression?

[2017-09-19 15:18] israel-hdez commented on #52
@hhovsepy do you know if the agent on the EAP is based on, at least, upstream 1.0.0.CR6? I am able to generate it using https://hub.docker.com/r/hawkular/wildfly-hawkular-javaagent/ "latest" tag.

[2017-09-19 17:35] abonas commented on #44
@josejulio can you please work with @xeviknal to work through this task, afaik you are well familiar with this area :)

[2017-09-19 17:39] josejulio commented on #44
Sure. Basically this PR covers something similar: https://github.com/ManageIQ/manageiq/pull/9326
However IIRC that was way before splitting the repos. So the code might be in different repos now.
Ping me on IRC (josejulio), I'll be happy to guide/help you on this.

[2017-09-20 02:22] cfcosta commented on #51
@hhovsepy
I could not reproduce this, getting this screen (this screenshot is before the refresh, but the result is the same):

![](https://i.imgur.com/I0DioCm.png)

Am I doing anything wrong? The steps I did to try to replicate this bug:

* Dropped my db and started it over again (so old data does not interfere)
* Started an immutable hawkular by doing `hawkinit -a readme_data/hawkinit/immutable-

[2017-09-21 00:07] josejulio commented on #46
I'm not sure how we should handle this.
The operation is scheduled on the agent, and he will eventually answer with a failure.
We could check the domain availability state (after #44) and decide if we want to show the buttons or not, but the server could be up/down and we aren't sure because the data isn't "live" (the value is from the last refresh).

Currently, even standalone servers do this: (S

[2017-09-22 09:31] hhovsepy commented on #52
@israel-hdez the problem was in tested image, even it was the latest, but was using CR5.
Closing the issue.

[2017-09-22 09:38] hhovsepy opened #56 "JDR Delete Button not disabled - Second click causes error"
When doing double click or clicking second time immediately on Delete button, while deleting JDR Report, it causes Unexcpected error to occur.

It needs to disable Delete button once first click happened.

![screenshot from 2017-09-22 11 35 01](https://user-images.githubusercontent.com/604313/30738397-2b531144-9f8a-11e7-813b-b2427d45a243.png)

[2017-09-22 10:24] abonas commented on #56
@israel-hdez I'd like @tumido to tackle this, with your guidance please :)

[2017-09-22 11:16] tumido commented on #56
@karelhala Thanks for help 👍

[2017-09-22 11:20] tumido opened #57 "Disable "Generate JDR" for provider server"
The provider server has "Generate JDR" button available, yet you should not be able to generate a report for it.
![image](https://user-images.githubusercontent.com/7453394/30742236-87eda74e-9f98-11e7-987c-53303fff612a.png)

When clicked:
![image](https://user-images.githubusercontent.com/7453394/30742283-b2761686-9f98-11e7-88d1-fa642c6e9137.png)
Note: Shouldn't the toast notification be red/error,

[2017-09-22 14:27] israel-hdez commented on #57
This is duplicate of #50, and PR solving it is in https://github.com/ManageIQ/manageiq-ui-classic/pull/2211. Although the issue I filed doesn't have the nice images :)

[2017-09-22 14:42] tumido commented on #57
@israel-hdez lovely :) Closing as duplicate then...

[2017-09-22 14:42] #57 closed

[2017-09-22 14:44] israel-hdez commented on #56
@tumido To solve this:

* I think you will need to change the controller to show a friendly message if any of the selected reports is already deleted. This is to prevent the case where two users are seeing the same server and one of them deleted the report, and the other one also decides to delete the same report(s), but his/her view is outdated. The code is here: https://github.com/ManageIQ/manag

[2017-09-22 14:48] tumido commented on #56
@israel-hdez:
1) Make sense, I'll take look at it.
2) Should be already covered in the PR https://github.com/ManageIQ/manageiq-ui-classic/pull/2217. It does disable the button whenever it's clicked so no further action is allowed before the form is actually sent. Does it make sense or do I need to provide more robust solution on the view side?

[2017-09-22 15:00] israel-hdez commented on #56
Oh! You already have a PR. My eyes didn't see the github references to it. Yes, it makes sense; it should be enough to have the button disabled.

[2017-09-22 15:17] tumido commented on #56
Cool. That's one part done!

For the multiple users scenario:
When the report is already deleted, there should be some generic message telling the second user, the report is no longer present. And this message should be displayed for any action, not just for the `dr_delete` but for `dr_report_download` and possibly others as well. I'll investigate that. ;)

[2017-09-22 15:25] tumido commented on #56
@israel-hdez that actually should maybe tracked as a separate issue. Because when one user deletes a report the other one can still download it, yet the report is empty. It fails silently. That's not right. What does @abonas think?

[2017-09-22 16:02] israel-hdez commented on #56
@tumido I'd say it's your choice. Personally, I'd use the same PR. But if you want to solve it in a different PR and/or open a new issue, it's OK!

[2017-09-22 20:58] israel-hdez commented on #35
Hmmm, the PR was merged, but it didn't auto close this issue. Perhaps you can close it, @hhovsepy ? (or test and then close?)

[2017-09-24 13:36] abonas commented on #56
I think it sounds like a separate issue to fix and test, but not insisting. both approaches are fine to me. Will leave the decision to @hhovsepy as he is the one who reported the original problem.

[2017-09-25 07:14] hhovsepy commented on #35
On the latest docker image available "master.20170924012905_" this issue still exists.
Can someone force to rebuild the docker image pls? https://hub.docker.com/r/manageiq/manageiq/builds/

[2017-09-25 08:27] hhovsepy opened #58 "JDR Deleted report - Notify to second user"
Currently if one user has deleted the JDR report which is still listed on second user's browser's Server Details page, any operation done by second user on that deleted JDR report, such as Delete or Download, will cause Unexcpected error to occur.

But it should refresh the Server's summary page with notification that selected JDR does not exist.

Created as a separate issue based on: https://gith

[2017-09-25 08:29] hhovsepy commented on #56
I agree to create a new issue, as the steps to reproduce are different.
Created https://github.com/ManageIQ/manageiq-providers-hawkular/issues/58

For verifying ongoing issue I need manageiq docker image to be regenerated.

[2017-09-25 08:46] tumido commented on #58
@abonas, may I get this assigned? I'd love to continue investigation on this one.

[2017-09-25 10:09] abonas commented on #35
@chessbyte who can rebuild it ^^ please?

[2017-09-25 10:21] abonas commented on #35
@hhovsepy I asked around a bit, it sounds like it's built automatically daily at night, and perhaps due to timezone differences not included in your timezone's last daily. so please check the "next daily"

[2017-09-25 12:30] hhovsepy commented on #56
Still see the initial issue on master.20170925085939_

[2017-09-25 14:10] hhovsepy commented on #35
Verified on master.20170925085939_

[2017-09-25 14:12] hhovsepy commented on #35
Topology also works correctly.
Thank you for the fix @israel-hdez

[2017-09-25 14:12] #35 closed

[2017-09-25 14:16] israel-hdez commented on #52
@hhovsepy Push the close button? :)

[2017-09-25 14:17] hhovsepy commented on #56
Issues is fixed partly, it still happens when double clicking on Delete button, or clicking on it several times rapidly.
But when clicking on it after 1 second then the Delete button is disabled, right.
But I do not expect to handle such a multi-clicking situations, so putting this issue verified.
Such multi clickings should cause notification message which will be fixed in part of: https://github

[2017-09-25 14:17] #56 closed

[2017-09-25 14:18] hhovsepy commented on #56
@tumido thank you for the fix.

[2017-09-25 19:11] abonas commented on #46
@josejulio thank you for the investigation
@jdoyleoss how would you like to handle this? would you like the buttons to be disabled/enabled based on last state known to miq even if it's an incorrect state in reality, or not?

[2017-09-25 19:52] jdoyleoss commented on #46
I agree that we should check the domain availability state. I think we will have to live with the requirement to refresh, that's a limitation of MiQ, no?

I've heard targeted refresh frequently mentioned with the RHEV provider. Is that a solution to this issue?

I agree we should also notify on the operation outcome.

[2017-09-26 06:56] #52 closed

[2017-09-26 06:57] hhovsepy commented on #52
:))

[2017-09-26 11:12] tumido commented on #58
The PR https://github.com/ManageIQ/manageiq-ui-classic/pull/2235 is fixing the deletion of removed JDR report part. It does deny the deletion of any report, when an exception is raised. Since I'm not able to catch or get more details on which report is causing the error, the controller just displays an error message "Unable to locate all reports in database, please try again." and refreshes the pa

[2017-09-27 07:55] karelhala commented on #58
Personally I see couple of things that can be improved in JDR, it's usable, however some UX changes could improve it's usefulness.
* Use [miqDataTable](https://github.com/ManageIQ/ui-components/blob/master/src/gtl/components/data-table/index.ts#L4) to enable pagination, sort and option to select all records on visible page
* Use AJAX calls instead of submit. It's OK to use submit (since we do not

[2017-09-27 13:12] abonas commented on #58
@karelhala could you please open this as a separate issue and also issue the relevant fixes? :)

[2017-09-27 14:15] israel-hdez commented on #58
@tumido I cannot see a way to make _download_ actions async. You need to pass the file to the browser for download, and making this async won't allow it. Or maybe I am missing a clever strategy here?

Delete action for sure can be made async, and if combined with @karelhala suggestions, it sounds great.

[2017-09-27 15:27] tumido commented on #58
@israel-hdez the approach I would choose, is to use a `initiate_wait_for_task` and follow the implementation as for cloud controllers. Once the task is finished just serve the file to/from UI. Downloading many JDRs causes a query to DB for each report, which shouldn't be done: 1st in a blocking manner and 2nd in the UI worker at all. Also the same for the deletion. Also we have to keep in mind tha

[2017-09-27 17:14] israel-hdez commented on #58
@tumido are you talking about the "download CSV/Text" or the "Download" button to get the JDR zip file?
If it's the later, for me it doesn't make sense to make it async.

If it's the former, it makes _some_ sense. From a technical point of view, it will be nice if "Download CSV/Text" is async. From a performance point of view, you are just moving the process from one worker to another one, and I t

[2017-09-27 18:55] tumido commented on #58
@israel-hdez I'm talking about the first one, the  "Download as CSV/Text". There it make sense to me, I'm not sure about the later one (why not?).

What do you mean by _some_ sense? Because to me the behavior when the UI is basically stuck until all JDRs are fetched from DB and merged into one file, is not what I would, as a user, expect. Also I don't understand (lack of knowledge on my side), wha

[2017-09-27 20:10] israel-hdez commented on #58
@tumido Apparently, we have started a fight! :sweat_smile:

Hmm... I want to ensure that this is clear: when you use "Download as CSV/Text" you are not downloading the JDRs. Instead, you are downloading the table that you are seeing in the UI, but in CSV or Text format. So, the JDRs aren't being merged and thus the UI isn't reading the lots bytes of the JDRs. It's just the listing.

The problem wi

[2017-09-27 20:59] tumido commented on #58
@israel-hdez no fight, please 😄 I'm still totally new to project so let's consider it rather an "educating @tumido on the matter" than "fight". 😄

I see. That changes the whole meaning to me. That was probably the missing piece in puzzle! Than both approaches may be fine to me - queue it or do it on the UI worker. Yet I still think, it might be better to do it async. For example, on my setup, when

[2017-09-27 21:42] israel-hdez commented on #58
@tumido Let's take advantage that we had our discussion here to ask feedback from @abonas and @karelhala. If they agree with you, you can have green light to do the enhancement. Then, we could continue out of the thread if needed :)

[2017-09-28 11:57] abonas commented on #58
@israel-hdez @tumido the "download as csv..." is indeed not downloading the jdr report content, but rather the table. That functionality is similar to any "download as csv..." other tables have in miq UI, so if anything should be considered for redesign, I see this is a core feature and not a middleware one. Specifically here, I don't see a lot of burden on user experience if a user has to wait a

[2017-09-28 14:38] abonas commented on #46
@jdoyleoss targeted refresh could improve the situation, it is still does not guarantee real time live accurate information on miq side. It would be good to have it but it is a big feature to work on.

[2017-09-28 14:39] abonas commented on #46
so @jdoyleoss for now, without target refresh, how would you like to handle this? would you like the buttons to be disabled/enabled based on last state known to miq even if it's an incorrect state in reality, or not?

[2017-09-28 16:14] jdoyleoss commented on #46
@abonas Yes.

[2017-09-28 17:31] abonas commented on #46
@josejulio please see the answer above :)

[2017-09-28 18:25] josejulio commented on #46
Great, Will do that!

[2017-10-02 09:00] hhovsepy commented on #50
Verified on master.20171002012947_

[2017-10-02 13:46] #50 closed

[2017-10-02 13:46] #58 closed

[2017-10-03 07:37] Ladas commented on #58
@karelhala @tumido @israel-hdez the general rule of thumb is to do async job anytime we talk to the provider or do long running job.

Main Reasons:
1. We support architectures where UI workers can't see the providers. In that case we have a specific appliances with backend workers, that are routed to provider and none other can see it or talk to the provider (with web consoles being routed via pro

[2017-10-03 10:05] abonas commented on #58
@Ladas have you seen [this comment](https://github.com/ManageIQ/manageiq-providers-hawkular/issues/58#issuecomment-332814172)?
if there is anything that requires a change in "download csv/text", it is a core functionality.

[2017-10-03 10:44] Ladas commented on #58
@abonas if it's just touching MIQ DB and returning the CSV base on that table, then yeah the core would have to be redesigned (at best we would have a separate object storage service, where we would store it while providing link)

[2017-10-03 16:44] mtho11 opened #63 "Add Documentation for OS/X install"
OS/X install is just a placeholder right now: https://github.com/ManageIQ/manageiq-providers-hawkular/blob/master/GETTING_STARTED.md#os-x

[2017-10-03 17:19] mtho11 opened #64 "Docucumenation for installing Hawkular (Manually)"
This is a documentation task for the steps to install Hawkular *manually* instead of via docker. While using docker is the quickest/easiest way to get Hawkular running with Manageiq (with [HawkInit](https://github.com/hawkular/hawkinit) being another quick and easy way). There are a couple use cases when this manual setup is very useful:

1. Debugging via agent logs. Sometimes it is necessary to t

[2017-10-03 17:38] mtho11 commented on #64
*Hint:* [Hawkular Install Guide](http://www.hawkular.org/hawkular-services/docs/installation-guide/)

[2017-10-03 17:45] mtho11 commented on #63
*Hint:* [ManageIQ Developer Setup Guide](http://manageiq.org/docs/guides/developer_setup.html) as a starting point.

[2017-10-03 20:35] abonas commented on #63
I think our major challenge is that afaik there are no Macs in the team to verify/use that... :confused:

[2017-10-03 21:03] mtho11 commented on #63
I have a personal mac, so I could do this. I'm giving someone in the community the opportunity for a cool  [Hacktoberfest](https://hacktoberfest.digitalocean.com/) shirt :)

[2017-10-05 08:08] hhovsepy commented on #58
Tested on master.20171005031204_874cad6

Issue is fixed partially. For deleting reports it's fine.
However it still fails for Download of deleted reports.
![screenshot from 2017-10-05 10 05 06](https://user-images.githubusercontent.com/604313/31216799-232d4df6-a9b5-11e7-8d14-0238b0e56deb.png)

[2017-10-05 08:13] tumido commented on #58
@hhovsepy, this should be completely redesigned by @karelhala, I'll sync with him and take a look if the issue is still present with his implementation. Thanks for catching that!

[2017-10-05 13:32] tumido commented on #58
@hhovsepy so, I can confirm that this issue is still present and I have prepared a patch for it. However, I'm not able to test it. Can anyone help me with that?

@israel-hdez, how did you managed to prepare a environment where the WildFly is actually generating JDRs and such? I'm not able to do so via hawkinit, what am I doing wrong?

@hhovsepy, do you have any Hawkular instance available which I

[2017-10-05 13:56] israel-hdez commented on #58
@tumido what error are you getting when trying to generate the JDRs? A Hawkinit environment should work fine if you are using all _latest_ versions (except for cassandra).

[2017-10-05 14:02] tumido commented on #58
@israel-hdez lol, it does, I've figured that out just before reading your comment. My belief in released and RC versions suffers now. :P

[2017-10-12 08:40] theute commented on #46
@josejulio what's the status on this ?

[2017-10-12 16:03] josejulio commented on #46
I haven't done this, the task is now to enable/disable buttons depending on availability.
This should also apply to every operation that is dependent of a server (standalone/domain).

[2017-10-17 10:18] hhovsepy commented on #51
@cfcosta I still see the issue.
Go to Server's List -> Choose server Local (Hawkular) . And it is shown as mutable.

The standalone.xml configuration of Hawkular server is set as immutable:
<subsystem xmlns="urn:org.hawkular.agent:agent:1.0" auto-discovery-scan-period-secs="600" enabled="true" immutable="true" in-container="${hawkular.agent.in-container:false}" min-collection-interval-secs="${hawk

[2017-10-17 10:20] hhovsepy commented on #44
Tested on master.20171017060733_05c1495, that field is still not there.

[2017-10-17 10:21] abonas commented on #44
@hhovsepy please see the above linked pull requests. not all pull requests are merged yet, hence you cannot see that field yet

[2017-10-17 10:21] hhovsepy commented on #45
Verified on master.20171017060733_05c1495.
Server state is shown as Down.

[2017-10-17 10:21] #45 closed

[2017-10-17 17:23] aljesusg opened #81 "Enable Integration with Coverage"
Enable de integration with coverage in Pull Requests like manageiq repo.

![screenshot from 2017-10-17 19-22-29](https://user-images.githubusercontent.com/3019213/31679161-92b8d0e0-b370-11e7-8fcd-b064b50b9517.png)

[2017-10-17 17:25] aljesusg commented on #81
@miq-bot assign @Fryguy

[2017-10-17 17:26] aljesusg commented on #81
@miq-bot add_label enhancement, test, tools

[2017-10-17 18:21] aljesusg commented on #81
@miq_bot assign @abonas

[2017-10-17 19:01] abonas commented on #81
indeed i don't have permissions to access settings of the repo, so only core team can do this.
@chessbyte @Fryguy @agrare if you have "the keys" to this part ... :)

[2017-10-18 19:08] mtho11 opened #85 "Create REST Api for POST on Middleware Server Operations"
For the angular dialog server operations such as:

- Add Datasource

- Add JDBC Driver

- Add Deployment

We now need the POST operations (the Read-only operations were just done) so we can move off of  ruby controller and migrate to angular/REST API.

[2017-10-19 09:48] abonas commented on #85
@aljesusg please sync first with @cfcosta on this task as he recently added REST api.
Prioirity/urgency - this is NOT for the upcoming release, which means the UI will NOT be converted for the upcoming release to use it once it's added. But certainly is needed for the future.

[2017-10-19 09:49] abonas commented on #85
removing the refactoring label. the REST api does not exist and as such it is enhancement and not refactoring. the refactoring label should be put on the UI PRs once they will be using the api.

[2017-10-20 11:57] hhovsepy commented on #58
Verified on master.20171017060733_05c1495
Download of deleted report does not crash.

[2017-10-22 19:03] aljesusg commented on #85
Link to API PR added by @cfcosta https://github.com/ManageIQ/manageiq-api/pull/19

[2017-10-24 13:57] abonas commented on #46
@tumido please have a look at this, you can see the investigation above. please check how complicated/amount of work this is. thanks!

[2017-10-27 09:46] aljesusg opened #90 "Alerts is not storing a correct data_id in hawkular provider"
In MiQ when you create a Heap Used Alert In provider created
[code]

And when you create a DataSource

[code]

It seems dataId is not like https://github.com/ManageIQ/manageiq-providers-hawkular/blob/master/app/models/manageiq/providers/hawkular/middleware_manager/alert_profile_manager.rb#L103 .

So when provider try post data about metric

Has anyone tested if the alerts worked?
I tested them 12-

[2017-10-27 09:55] lucasponce commented on #90
Note that there is two types of triggers: groups and member.
For the group trigger the dataId is not used, as it is just a template and every member needs to calculate the correct dataId related to the metric being monitored.

[2017-10-27 09:57] lucasponce commented on #90
So, it is the alert_profile_manager responsible to calculate the right dataId per member with the group info here:

https://github.com/ManageIQ/manageiq-providers-hawkular/blob/master/app/models/manageiq/providers/hawkular/middleware_manager/alert_profile_manager.rb#L105

[2017-10-27 10:03] aljesusg commented on #90
Ok I see... MiQ is creating groups in all middlewareServers when you create the alert in the UI, and when you assign a profile to the middleware server the alert member is created
[code]
Why are the groups created before they are assigned?

[2017-10-27 10:09] lucasponce commented on #90
Because when you create an alert in MiQ, this is not assigned to any resource, is used like a template.
So, for that there is a 1to1 map with a group trigger, as it is a similar operation, only when the alert_profile assigns an alert, it is created the member trigger with the proper info.

@israel-hdez did a good post about this mapping here http://www.hawkular.org/blog/2017/10/alerts-in-manageiq.

[2017-10-27 10:13] aljesusg commented on #90
Thanks @lucasponce This will be very useful
I am gonna close the issue.

[2017-10-27 10:13] #90 closed

[2017-10-30 16:53] aljesusg opened #91 "Error in UI adding a new hawkular provider"
There isn't Confirm Password in master version in the UI. Now You can't add hawkular provider in the actual UI, In Fine-4 version is ok.

The devel version throw this error
_**Credential validation was not successful: wrong number of arguments (given 0, expected 6)**_

In Fine-4

![fine-4](https://user-images.githubusercontent.com/3019213/32182556-4b3270b0-bd97-11e7-895e-a0129225b677.png)

Master

[2017-10-30 17:00] aljesusg commented on #91
@miq-bot add_label bug

[2017-10-30 17:03] abonas commented on #91
@aljesusg is this the same in other provider types as well?
cc @agrare - any idea of a potential regression?

[2017-10-30 17:05] agrare commented on #91
@aljesusg @abonas I'm having issues with credential validation in another provider as well, suspect something changed in the way the UI queues validation.

@aljesusg can you paste the full backtrace from the logs?

[2017-10-31 08:27] aljesusg commented on #91
@agrare I only see this trace in logs
[code]

[2017-10-31 09:13] abonas commented on #91
@agrare @aljesusg it sounds like a general non middleware issue, which should also be a blocker.
I suggest:
1. closing it here and reporting it in the main repo/ui repo/bugzilla
2. describing it as a non middleware specific but rather cross provider issue
3. marking it as urgent/blocker

[2017-10-31 11:37] aljesusg commented on #91
I close this. Open https://github.com/ManageIQ/manageiq-ui-classic/issues/2572

[2017-10-31 11:43] #91 closed

[2017-11-02 18:30] aljesusg commented on #85
Hi working in this PR and checking the operations in https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/controllers/middleware_server_controller.rb the point is make this kinds of operations through the API CRUD that caina did in angular. isn't it? For example worki for add datasource in https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/assets/javascripts/controllers/mid

[2017-11-03 14:39] tumido opened #97 "Unable to add a Hawkular provider due to Angularization"
I don't know when it happened exactly, but I'm currently unable to add a Hawkular provider into ManageIQ with current master. It's caused by the change in use of `verify_credentials` (it seems it's no longer used). The current workflow is using a `create_ems_button_validate` (defined [here](https://github.com/ManageIQ/manageiq-ui-classic/blob/0697177b8393f42237705aebf97e159b93f1215b/app/controller

[2017-11-03 14:39] tumido commented on #97
cc @karelhala, @abonas

[2017-11-03 14:52] tumido commented on #97
We might also consider investigation if the `validate_credentials` is ever needed and used.

[2017-11-03 15:12] tumido commented on #97
The workflow which used to work was:
- MIQ calls our `validate_credentials`
- `validate_credentials` calls `connect`
- `connect` parses arguments needed for `raw_connect` and calls it
- done

Current workflow which I discovered:
- MIQ tries to parse arguments for `raw_connect` via mapping in `get_task_args`
- then it places a job to MiqQueue which calls `raw_connect`

And we're missing the mapping

[2017-11-05 11:05] abonas commented on #97
is this a duplicate of [this](https://github.com/ManageIQ/manageiq-ui-classic/issues/2572)?

[2017-11-05 11:43] tumido commented on #97
@abonas it seems so. Closing.

[2017-11-05 11:44] #97 closed

[2017-11-06 10:39] abonas commented on #85
@mtho11 please see @aljesusg questions above ^^

[2017-11-06 13:55] aljesusg opened #99 "About how to proceed with alerts"
Now when you create a alert of a type in Miq, hawkular is not creating the trigger for each Datasource. I have little knowledge about hawkular and I didn't know this. So here is the problem and some proposal.

## Datasource

MiQ is looking for
`MI~R~[0b84c5546795/Local DMR~~]~MT~Datasource Pool Metrics~In Use Count`

Hawkular is providing metrics in
`MI~R~[92da52a9b841/Local DMR~/subsystem=datasou

[2017-11-06 15:20] mtho11 commented on #85
@aljesusg yes, go to the API instead of the ruby controller. That is the main idea, Caina did it for Read operations but not the POST. For example `Add Datasource` needs an API so it can POST to API and not ruby controller - https://github.com/mtho11/manageiq-ui-classic/blob/80f5757bbb3c22bf84f9bd31af95f0c32332f889/app/assets/javascripts/controllers/middleware_datasource/middleware_datasource_serv

[2017-11-06 15:26] aljesusg commented on #85
Ok @mtho11, @abonas  Thanks

[2017-11-06 15:54] mtho11 commented on #85
@aljesusg the bigger picture here is to remove all REST from any ruby controllers or route/resource in favor of a standalone API that can be: monitored, built-in security and scaled independently of UI. Eventually, all the ruby controllers in ui-classic will be migrated to an Angular SPA talking directly to REST API (and ui-classic will disappear). Eventually ;)

[2017-11-09 09:57] hhovsepy commented on #44
Verified downstream 5.9.0.7.20171107212356_ed87902

[2017-11-09 09:57] #44 closed

[2017-11-10 15:33] jshaughn commented on #99
The comments in #88 are correct, and the options above make sense.  My question is whether this is going to be resolved for TP3.  Because if not then we should wait for Prometheus migration and then proceed.

As for the approach, I'd probably suggest option 2, being able to assign to specific DS or Messaging entities.  The alternative could result in a lot of unnecessary triggers and possibly unwa

[2017-11-10 15:44] aljesusg commented on #99
I am working in the second option I think is the best too.

[2017-11-10 16:05] jdoyleoss commented on #99
I agree the second option is the better option. Let's pursue that.

~john

On Fri, Nov 10, 2017 at 10:44 AM, Alberto Gutierrez <
notifications@github.com> wrote:

[2017-11-13 16:00] hhovsepy commented on #51
Closing the issue as it is coming from WildflyAgent which will be gone soon.

[2017-11-13 16:00] #51 closed

[2017-11-15 14:39] abonas commented on #99
I agree with the second option. this is NOT for gaprindashvili though.

[2017-11-15 14:40] abonas commented on #99
@aljesusg / @jdoyleoss please log an appropriate JMAN4 as this is a functional enhancement

[2017-11-16 22:20] jshaughn opened #107 "Make Middleware Heap Used Alert a standard threshold"
This is a suggestion to change the hi-lo Heap Used (and NonHeap Used) Alert to a single threshold, like most other MW Alerts.  I think in general users are interested in high usage and often use dummy values for the low setting.  Moreover, low and high and two different scenarios that may require different actions or severity.  I think this was a legacy design that should be updated for GA.  And i

[2017-11-19 10:55] abonas commented on #46
@hhovsepy is the RFE filed in bugzilla? if not, please close here and move it there (with link here for prior discussions, of course)

[2017-11-20 07:06] hhovsepy commented on #46
BZ for this https://bugzilla.redhat.com/show_bug.cgi?id=1497922, so closing issue in github.

[2017-11-20 07:06] #46 closed

[2018-05-17 13:48] #85 closed